* {
  font-weight: bold;
}
.upDollar {
  color: green;
}
.up-icon,.down-icon{
    display: none;
}
.upDollar .up-icon {
  display: inline-block !important;
}
.downDollar .down-icon {
  display: inline-block !important;
}
.downDollar {
  color: red;
}

